.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wallet_title {
  margin-bottom: 10px;
}

.wallet_list {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  overflow-x: scroll;
  width: 85vw;
  border: 1px solid rgba(92, 92, 92, 0.118);
  border-radius: 15px;
}

.wallet_list {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.wallet_list::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.wallet h2{
  font-size: 2rem;
  font-weight: bold;
  color: #09f;
  margin: 15px 0;
}

.wallet_slider_controller{
  margin: 3px 0;
}

.wallet_slider_controller button{
  background-color: #00A6ED;
  border: none;
  color: white;
  padding: 5px 20px;
  margin-right: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}