header {
  display: flex;
  justify-content: space-between;
  flex: 1 3 1;
  align-items: center;
  background-color: rgb(242, 250, 255);
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #09f;
  width: 200px;
}

header .logo {
  width: 200px;
  height: 100%;
  position: relative;
}

header .logo img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .menu {
  width: 200px;
  height: 100%;
  position: relative;
}

.menu_logo {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #09f;
  border-radius: 50%;
  transition: 0.2s;
}

.menu_logo_cross {
  height: 100%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 100%;
  transition: 0.2s;
}

.menu_logo input {
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.menu ul {
  list-style: none;
  position: inherit;
  left: -140%;
  top: 100%;
  width: 375%;
  padding: 10px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(242, 250, 255);
  text-align: left;
  z-index: 3;
}

.menu input:checked ~ ul {
  visibility: visible;
  opacity: 1;
}

.menu input:checked ~ ul {
  background: rgb(242, 250, 255);
  padding: 10px 15px;
}

.x {
  transform: rotate(45deg);
  transform-origin: center;
}
