.QR_card {
  width: 300px;
  height: 430px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgba(92, 92, 92, 0.118);
  box-shadow: -0.3rem 0.3rem 4px black;
  background: white;
}

.QR_card:focus-within ~ .QR_card,
.QR_card:hover ~ .QR_card {
  transform: translateX(200px);
}

.QR_card:hover {
  transform: translateY(-1rem);
}

.QR_card:not(:first-child) {
  margin-left: -200px;
}

.QR_card_img {
  width: 200px;
  height: fit-content;
}

.QR_imgDecorator {
  margin-top: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: white;
}

.QR_card_title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 10px;
}

.QR_card_menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}